.container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(245, 240, 240, 0.52);
  position: fixed;
  z-index: 999;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  position: relative;
  width: 500px;
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.close {
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  background-color: black;
  color: white;
  display: flex;
  cursor: pointer;
  position: absolute;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}
.input {
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
}
